<h1 class='mail-heading'>Sorry! Your appointment not accepted!</h1>
<p class='mail-para'>Hello &nbsp;<b>{{ first_name }}&nbsp;{{last_name}}</b>! We are sorry to inform you that your
  appointment has not approved because of {{ reason }}</p>
<p class='mail-para'>Best regards,</p>
<p class='mail-para'>Team OneID</p>


<style>
  .mail-heading {
    text-align: center;
    color: #E54818;
    font-family: 'Poppins';
    font-size: 48px;
  }

  .mail-para {
    color: #272D24;
    font-family: 'Poppins';
    font-size: 16px;
  }
</style>

